<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <div class="container new-edit-container">
    <div class="row centered-row align-items-center justify-content-around">
    <div class="col d-flex justify-content-center">
        <form action="/places/<%=place.id%>?_method=PUT" method="POST">
        City: <input type="text" name="city" id="city" value="<%=place.city %>"/><br/><br/>

        Country: <input type="text" name="country" id="country" value="<%=place.country%>" /> <br/><br/>
        
        Visited? <input type="checkbox" name="visited" id="visited" 
        <% if (place.visited === true) { %>
        checked
        <% } %>
        /><br/><br/>
        <input type="submit" name="" value="Edit Entry"/>
        </form>
    </div>
    </div>
    </div>
</body>
</html>