<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <form action="/places/<%=place.id%>?_method=PUT" method="POST">
    City: <input type="text" name="city" id="city" value="<%=place.city %>"/><br/>
    Country: <input type="text" name="country" id="country" value="<%=place.country%>" /> <br/>
    Image URL: <input type="text" name="img" id="img" value="<%=place.img%>" /><br/>
    Visited? <input type="checkbox" name="visited" id="visited" 
    <% if (place.visited === true) { %>
        checked
    <% } %>
    /><br/>
    <input type="submit" name="" value="Edit Entry"/>
    </form>
</body>
</html>