<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

<div class="d-flex justify-content-around flex-wrap">
    <!-- <img class="map-img" src="https://i.imgur.com/kSjqhbT.jpg"> -->

        <!-- <% for (let i = 0; i < allPlaces.length; i++) { %>
        <div class="card index-card">
        <h4><%= allPlaces[i].city %>, <%= allPlaces[i].country %></h4>
        <br>
       <figure class="d-flex justify-content-around">
            <img src="<%= allPlaces[i].img %>">
        </figure>
    </div>
        <% } %>  -->

    <ul>
        <% for (let i = 0; i < allPlaces.length; i++) { %>
            <li>
                <a href="/places/<%=allPlaces[i].id%>"><%= allPlaces[i].city %></a>
            </li>
        <% } %>
    </ul>
</div>


</body>
</html>