<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

<div class="d-flex justify-content-around flex-wrap">

<div class="container">
        <div class="row row-cols-2 row-cols-md-4">
            <% for (let i = 0; i < allPlaces.length; i++) { %>
            <div class="col">
                <a href="/places/<%=allPlaces[i].id%>">
              <div class="card home-card">
                <img src="<%=allPlaces[i].img%>" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title text-center"><%= allPlaces[i].city %>, <%= allPlaces[i].country %></h5></a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
<br><br>

<div class="upper d-flex justify-content-center">
    <button type="button" class="btn btn-dark home-button" data-toggle="modal" data-target="#instructionsModal" onclick="openInstructions()">
        Instructions
      </button>

    </div>
  
  <div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructionsModalTitle">Instructions</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" onclick="closeInstructions()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>Create the travel bucket list of your dreams!</p>
        <ul>
            <li>Create a new account (Create Account) or log in to an existing one (Log In)</li>
            <li>Once logged in, create a new entry (Create Entry) or edit an existing one via its page</li>
            <li>Add notes to each entry and keep track of where you have visited</li>
        </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="closeInstructions()">Close</button>
        </div>
      </div>
    </div>
  </div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>