<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <h1>Hi from the show page!</h1>
    <h2><%= place.city %> is a city I want to visit!</h2>
    <a href="/places/<%=place.id%>/edit">Edit Entry</a>
    <form action="/places/<%= place.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Entry"/>
    </form>
</body>
</html>